
.slider {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
}

.slides {
    display: flex;
}

.slide {
    flex: 0 0 100%;
    padding: 20px;
    text-align: center;
}

button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
